<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <p><%= restaurant.address %></p>
  <% end %>

<%= link_to 'New Restaurant', new_restaurant_path %>

